
/*****************************ERROR***************************************/

.error-window{
    width: 400px;
    height: auto;
    min-width: 200px;
    min-height: 150px;
    

}
.error-container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.error-message-container{
    width: inherit;
    height: auto;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.error-footer{
    width: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline:16px;
    background-color: #F0F0F0;
}
.error-icon{
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;

}
.error-button{
    width: 90px;
    height: 24px;
    background-color: #E1E1E1;
    border: 1px solid #0078D7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;

}

/***************************END ERROR***************************************/