.bg {
  background: #0099ff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../images/login-background.png");
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-animation: bgg 16087ms ease-in alternate infinite;
          animation: bgg 16087ms ease-in alternate infinite;
}

@-webkit-keyframes bgg1 {
  0% {
    background: #0099ff;
  }
  50% {
    background: #29ff79;
  }
  100% {
    background: #ff4a58;
  }
}

@keyframes bgg1 {
  0% {
    background: #0099ff;
  }
  50% {
    background: #29ff79;
  }
  100% {
    background: #ff4a58;
  }
}

.loader {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  width: 100px;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: orbit;
          animation-name: orbit;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.loader .circle:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #fff;
}

.loader .circle:nth-child(2) {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}

.loader .circle:nth-child(3) {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}

.loader .circle:nth-child(4) {
  -webkit-animation-delay: 720ms;
          animation-delay: 720ms;
}

.loader .circle:nth-child(5) {
  -webkit-animation-delay: 960ms;
          animation-delay: 960ms;
}

.loader .bg {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 13px;
  background-color: rgba(0, 153, 255, 0.69);
  -webkit-animation: bgg 16087ms ease-in alternate infinite;
          animation: bgg 16087ms ease-in alternate infinite;
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  7% {
    -webkit-transform: rotate(345deg);
            transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
            transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  39% {
    -webkit-transform: rotate(690deg);
            transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    -webkit-transform: rotate(815deg);
            transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  76% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    opacity: 0;
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  7% {
    -webkit-transform: rotate(345deg);
            transform: rotate(345deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  30% {
    -webkit-transform: rotate(455deg);
            transform: rotate(455deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  39% {
    -webkit-transform: rotate(690deg);
            transform: rotate(690deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    -webkit-transform: rotate(815deg);
            transform: rotate(815deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  76% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(945deg);
            transform: rotate(945deg);
    opacity: 0;
  }
}

.welcome-text {
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}

.outer-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  width: 100%;
  height: 100%;
}

#centercontainer {
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: flex-start;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/*# sourceMappingURL=Login-screen-no-password.css.map */