
.menu{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;
    width: 400px;
    height: 420px;
    background-color: rgba(242, 242, 242, .6);
    backdrop-filter: blur(10px);
    //transition: all .4s cubic-bezier(.79,.14,.15,.86);
    transition: all .3s ease-in-out;
    z-index: 10;
    border-radius: 8px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    overflow: hidden auto;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1) , -2px 7px 5px 0px rgba(0,0,0,0.1);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    z-index: 101;

    
}
.menu-item-container{
    margin: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item-container:hover{
  //  background-color: rgba(0, 178, 255, .16);
}
.menu-item{
    width: 40px!important;
    height: 40px!important;
}